@font-face {
    font-family: windowsRegular;
    src: url(fonts/Windows\ Regular.ttf);
}

main {
    background-image: url(https://www.newegg.com/insider/wp-content/uploads/windows_xp_bliss-wide.jpg);
    background-size: 100%;
    background-repeat: none;
    background-size: cover;
    height: 950px;
    cursor: url(media/cursor.png);
    font-family: windowsRegular;
    overflow: hidden;

}

p {
    font-family: windowsRegular;
 }

em {
    text-decoration: underline;
    font-style: normal;
}

/* --------------------------- minesweeper icon --------------------------- */

div.iconContainer {
    width: 100px;
    height: 100px;
    transform: translate(400%,300%);
    font-family: windowsRegular;
    z-index: 0;
}

img#msLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 65px;
}

img#appEnter {
    display: block;
    transform: translate(100%, -110%);
    width: 17%;
}

p.appName {
    font-family: windowsRegular;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: -15px;
}

p.appName:hover {
    background-color: darkblue;
    color: white;
}

/* --------------------------- intro page --------------------------- */

div#introPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;

}

div#topBar {
    width: 600px;
    height: 20px;
    background-color: darkblue;
    margin-top: 10px;
    border: black;
    border-width: 1px;
    border-style: solid;
}

img#closeBtn {
    display: block;
    float: left;
    width: 3.5%;
}

img#closeBtn:hover {
    width: 3%;
    border-style: inset;
}

p#topBarTitle {
    font-family: windowsRegular;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

div#whiteBar {
    width: 600px;
    height: 20px;
    background-color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
}

div#grayBackground {
    width: 600px;
    height: 400px;
    background-color: rgb(190, 190, 190);
    border: black;
    border-width: 1px;
    border-style: solid;
}

div#menu {
    display: inline-block;
    font-family: windowsRegular;
    color: black;
    padding-left: 10px;
    letter-spacing: 1px;
}

div#menu:hover {
    text-decoration: underline;
}

div#firstBar {
    width: 580px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(201, 201, 201);
    border-style: inset;
    border-width: 3px;
}

div#firstBar p {
    text-align: center;
    padding-top: 3px;
}

div#secondBar {
    width: 580px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(201, 201, 201);
    border-style: inset;
    border-width: 3px;
    overflow:auto;
}

div#aboutTextContainer img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

div#aboutTextContainer {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe#minesweeper {
    width: 100%;
    height: 100%;
    display: none;
}

/* --------------------------- gameplay folder icon --------------------------- */

div.FolderContainer {
    width: 100px;
    height: 100px;
    font-family: windowsRegular;
    z-index: 0;
}

div.gameplay {
    transform: translate(200%, 400%);
}

img.folder {
    display: block;
    margin-left: -10px;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: -50px;
    width: 120px;
    margin-bottom: -10;

}

p.folderName {
    font-family: windowsRegular;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: -30px;
}

p.folderName:hover {
    background-color: darkblue;
    color: white;
}

/* --------------------------- gameplay page --------------------------- */

div#gameplayPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: rgb(193, 193, 193);
    display: none;
}

div#fileexplorertopbar {
    width: 580px;
    height: 30px;
    background-color: rgb(140, 140, 140);
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

img.xBtn {
    width: 4%;
    float: right;
    display: block;
    transform: translate(0%, -100%);
    border-style: outset;
}

img.xBtn:hover {
    border-style: inset;
}

div#fileexplorertopbar > p#topBarTitle {
    padding-top: 6px;
}

div#fileExplorerMenu {
    width: 570px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

div#whiteBox {
    width: 560px;
    height: 355px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

/* --------------------------- history folder icon --------------------------- */

div.history {
    transform: translate(500%, 350%);
}

/* --------------------------- history page --------------------------- */

div#historyPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: rgb(193, 193, 193);
    display: none;
    z-index: 10;
}

div#fileExplorerMenu div#menu:hover {
    text-decoration: underline;
}

div#eighties {
    display: block;
}

div#eighties img {
    width: 100%;
}

div#nineties {
    display: none;
}

div#nineties img {
    width: 100%;
}

div#twoThousands {
    display: none;
}

div#twoThousands img {
    width: 100%;
}

/* --------------------------- variants folder icon --------------------------- */

div.variants {
    transform: translate(350%, 450%);
}

/* --------------------------- variants page --------------------------- */

div#variantsPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    width: 600px;
    height: 450px;
    background-color: rgb(193, 193, 193);
    display: none;
}

div#variantsOverview {
    display: block;
}

div#variantsImgs {
    margin-right: auto;
    margin-left: auto;
    display: none;
}

div#variantsGridStructure {
    display: flex;
    flex-wrap: wrap;

}

div.variantContainer {
    width: 30%;
    margin-top: 10px;
    display: block;
    margin-right: 15px;
}

div.variantContainer img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

div.variantContainer p {
    text-align: center;
}

/* --------------------------- competitive play folder --------------------------- */

div.competitivePlay {
    transform: translate(900%, 200%);
}

/* --------------------------- competitive play page --------------------------- */

div#competitivePlayPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: rgb(193, 193, 193);
    display: none;
}

div.worldRecord {
    margin-left: 120px;
    margin-top: 50px;
}

div.worldRecord img {
    margin-bottom: 10px;
}


/* --------------------------- computational complexity folder --------------------------- */

div.computationalComplexity {
    transform: translate(700%, 200%);
}

div#computationalComplexityPg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: rgb(193, 193, 193);
    display: none;
}

div.complexityVideo {
    margin-left: 320px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* --------------------------- reference folder --------------------------- */

div.references {
    transform: translate(1200%, 0%);
}

div.references img {
    margin-bottom: 20px;
}

/* --------------------------- reference page --------------------------- */

div#referencePg {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}

img#msPaintLogo {
    display: block;
    float: left;
    width: 3.5%;
    margin-right: 10px;
}

div#referencePg p#topBarTitle {
    font-family: windowsRegular;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0px;
}

div#referencePg div#whiteBar {
    width: 600px;
    height: 20px;
    background-color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
}

div#referencePg div#menu {
    display: inline-block;
    font-family: windowsRegular;
    color: black;
    padding-left: 10px;
    letter-spacing: 1px;
}

div#grayBackground {
    width: 600px;
    height: 400px;
    background-color: rgb(190, 190, 190);
    border: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}

div#menu:hover {
    text-decoration: underline;
}

img#tools {
    width: 65px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

img#colorSwatch {
    width: 400px;
    padding-left: 10px;
}

div#referencePg div#secondBar {
    width: 500px;
    height: 310px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-width: 3px;
    overflow:auto;
    display: inline-block;
}

div#aboutTextContainer img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

div#referencePg div#aboutTextContainer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#aboutTextContainer p {
    padding-left: 20px;
    font-size: 20pt;
}

#designer {
    color:darkorchid;
}

#cD {
    color: deeppink;
}

#tS {
    color: mediumturquoise;
}

/* --------------------------- media queries --------------------------- */

@media (max-width:1380px) {
    div.references {
        transform: translate(800%, -100%);
    }
}

@media (max-width:1100px) {
    div.competitivePlay {
        transform: translate(770%, 200%);
    }

    div.computationalComplexity {
        transform: translate(600%, 200%);
    }

    div.references {
        transform: translate(700%, -100%);
    }
}



@media (max-width:900px) {
    div.iconContainer {
        transform: translate(200%,200%);
    }

    div.gameplay {
        transform: translate(150%, 350%);
    }

    div.variants {
        transform: translate(100%, 450%);
    }

    div.history {
        transform: translate(300%, 400%);
    }

    div.competitivePlay {
        transform: translate(400%, 300%);
    }

    div.computationalComplexity {
        transform: translate(500%, 50%);
    }

}

@media (max-width:640px) {

    main {
        overflow: auto;
        width: 100%;
    }

    div.iconContainer {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#introPg {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: none;
    
    }
    
    div#topBar {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    
    img#closeBtn {
        width: 5%;
    }
    
    img#closeBtn:active {
        width: 4.5%;
        border-style: inset;
    }

    img#closeBtn:hover {
        width: 4.5%;
        border-style: inset;
    }
    
    div#whiteBar {
        width: 400px;
        margin-right: auto;
        margin-left: auto; 
    }
    
    div#grayBackground {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    
    div#menu:active {
        text-decoration: underline;
    }
    
    div#firstBar {
        width: 95%;
        margin-right: auto;
        margin-left: auto;   
    }
    
    
    div#secondBar {
        width: 380px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        background-color: rgb(201, 201, 201);
        border-style: inset;
        border-width: 3px;
        overflow: auto;
    }
    
    div#aboutTextContainer {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    /*******************************************************************/

    div.gameplay {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#gameplayPg {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: rgb(193, 193, 193);
        width: 400px;
        display: none;
    }
    
    div#fileexplorertopbar {
        width: 380px;
    }
    
    img.xBtn {
        width: 6%;
    }
    
    img.xBtn:hover {
        border-style: inset;
    }
    
    div#fileExplorerMenu {
        width: 380px;
    }
    
    div#whiteBox {
        width: 360px;
        height: 355px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 3px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
    }

/*******************************************************************/

    div.variants {
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#variantsPg {
        top: 35%;
        left: 50%;
        width: 400px;
    }
    
    div#variantsOverview {
        display: block;
    }
    
    div.variantContainer {
        width: 100%;
    }

/*******************************************************************/

    div.history {
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#historyPg {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 400px;
        height: 450px;
        background-color: rgb(193, 193, 193);
        display: none;
        z-index: 10;
    }

/*******************************************************************/

    div.competitivePlay {
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#competitivePlayPg {
        top: 35%;
        left: 50%;
        width: 400px;
    }

    div.worldRecord {
        margin-left: 120px;
        margin-top: 50px;
    }

    div.worldRecord img {
        margin-bottom: 10px;
    }

/*******************************************************************/

    div.computationalComplexity {
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }
    
    div#computationalComplexityPg {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 400px;
    }
    
    div.complexityVideo {
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

/*******************************************************************/

    div.references {
        top: 102%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
    }

    div#referencePg {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: block;
    }
    
    img#msPaintLogo {
        display: block;
        float: left;
        width: 3.5%;
        margin-right: 10px;
    }
    

    div#referencePg div#whiteBar {
        width: 400px;
        height: 20px;
        background-color: white;
        border: black;
        border-width: 1px;
        border-style: solid;
    }
    
    div#referencePg div#menu {
        display: inline-block;
        font-family: windowsRegular;
        color: black;
        padding-left: 10px;
        letter-spacing: 1px;
    }
    
    div#grayBackground {
        width: 400px;
        height: 400px;
        background-color: rgb(190, 190, 190);
        border: black;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
    }
    
    div#menu:hover {
        text-decoration: underline;
    }
    
    img#tools {
        width: 50px;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }
    
    img#colorSwatch {
        width: 380px;
        padding-left: 10px;
        margin-top: 5px;
    }
    
    div#referencePg div#secondBar {
        width: 330px;
        margin-left: 3px;
    }
    
    div#aboutTextContainer img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    
    div#referencePg div#aboutTextContainer {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    div#aboutTextContainer p {
        padding-left: 20px;
        font-size: 15pt;
    }

}


